streamlit
PyMuPDF
langchain
langchain-community
langchain-huggingface
langchain_text_splitters
langchain-groq
sentence-transformers
faiss-cpu
transformers
torch
accelerate
python-dotenv
unstructured[local-inference]

